/* // <!--
// * File: styles.css
// * Author: Katona Valentin
// * Copyright: 2022, Katona Valentin
// * Group: Szoft II N
// * Date: 2022-01-20
// * Github: https://github.com/djvalee/
// * Licenc: GNU GPL
// -->*/

html {
    background-image: url("https://tipsmake.com/data/images/100-most-beautiful-background-picture-53-Xxh0iqPga.jpg");
  }

  p.border {
    border: 1px solid #fff;
    margin: auto;  
    padding: 20px;
    text-align: center;
    background-color: #000 ;
    opacity: 0.9;
    color: #fff;
  }

  h1 {
    color: #fff
    
  }